<configuration>
    <appSettings>
		<add key="RefreshInterval" value="30"/>
    </appSettings>
	<WatchedMessageQueues>
		<add key="MyInbox" value="MyMessageServer\MyInbox"/>
	</WatchedMessageQueues>
	<WatchedDirectories>
		<add key="MyDirectory" value="\\MyServer\MyShare\"/>
	</WatchedDirectories>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
